/* Header */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
body{
      font-family: "Space Grotesk", sans-serif;
}

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.wrapper{
    width: 100vw;
      
}

header{

    /* margin-left: 100px;
    margin-right: 100px; */

}
.navbar{
    width: 100vw;
    height: 68px;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 70px;
    
}

.nav-items{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-size: 20px;
    line-height: 28px;
    align-items: center;
    margin-right: 100px;
}

.nav-logo{
    height: 36px;
    margin-left: 100px;
}


.nav-button{
    border-radius: 14px;
    border: 1px solid black;
    padding: 20px 35px;
    background-color: white;
}

.nav-right{
    flex-direction: row;
    flex-wrap: wrap;
    
}







































































/* MAIN */


@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
.main-top{
    display: flex;
    flex-direction: row;
    height: 515px;
    justify-content: space-between;
      font-family: "Space Grotesk", sans-serif;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-top:70px
}

.main-right{
    align-items: center;
}

.main-top-right{
    height: 515px;
    width: 600px;
    margin-top:70px

}
.main-left{
    display: flex;
    flex-direction: column;
  
    height: 481px;
    margin-top: 0px;
}


.main-left-button{
    background-color: black;
    color: white;
    border-radius: 14px;
    padding: 20px 25px;
    margin-top: 35px;
}

.main-left-text{
    line-height: 28px;
    font-size: 20px;
    width: 498px;
    margin-top: 35px;
}

.main-left-h1{
    width: 531px;
    height: 231px;
    font-size: 61px;
    margin-top: 0px;
    margin-bottom: 0px;
}










































































/* Footer */