/* Header */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
body{
      font-family: "Space Grotesk", sans-serif;
}

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.wrapper{
    width: 100vw;
      
}

header{

    /* margin-left: 100px;
    margin-right: 100px; */

}
.navbar{
    width: 100vw;
    height: 68px;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 70px;
    
}

.nav-items{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-size: 20px;
    line-height: 28px;
    align-items: center;
    margin-right: 100px;
}

.nav-logo{
    height: 36px;
    margin-left: 100px;
}


.nav-button{
    border-radius: 14px;
    border: 1px solid black;
    padding: 20px 35px;
    background-color: white;
    transition: background-color 0.2s;
    transition: color 0.2s;
    transition: opacity 0.2s;
    transition: border 0.2s;
    width: 264px;
}

.nav-right{
    flex-direction: row;
    flex-wrap: wrap;
    
}


.nav-button:hover{
    background-color: black;
    color: white;
    border: 4px solid #b9ff66;
    font-weight: bold;
    
}

.nav-button:active{
    opacity: 0.8;
}

.nav-items .lili{
    transition:border-bottom 0.15s;
      transition:   font-weight 0.15s;
}

.nav-items .lili:hover{
    border-bottom: 3px solid #b9ff66;
    font-weight: bold;
}













.main-bottom-bar{
    margin-top: 140px;
    height: 48px;
    align-self: center;
    justify-content: center;
    display: flex;
    padding-right: 100px;
    
    
    
}

.imgg{
  width: 1440px;

    
}



.main-bottom-bar2{
    margin-top: 140px;
    height: 51px;
    width: 100%;
    display: flex;
    align-items: center;
        margin-left: 150px;
}

.Services{
    background-color: #b9ff66;
    display: flex;
    color: black;
    padding: 0px 7px;
    margin-right: 40px;
    width: 178px;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;

}

.main-bottom-text{
    width: 580px;
    height: 46px;
    font-size: large;
}





.main-main{
    margin-top: 80px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 1010px;
    width: 100%;
    gap: 40px;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom:140px
}

.main-block{
    width: 600;
    height: 310;
    border-radius: 45px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: box-shadow 0.15s;
    

}

.main-block:hover{
    box-shadow: 0 12px 15px -6px rgba(0,0,0,0.7);
}

.one{
    background-color: #f3f3f3;
}

.two{
    background-color: #B9FF66;
}

.three{
    background-color: black;
}

.four{
    background-color: #f3f3f3;
}

.five{
    background-color: #B9FF66;
}

.six{
    background-color: black;
}

































/* MAIN */


@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
.main-top{
    display: flex;
    flex-direction: row;
    height: 515px;
    justify-content: space-between;
      font-family: "Space Grotesk", sans-serif;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-top:70px;
 
}

.main-right{
    align-items: center;
}

.main-top-right{
    height: 515px;
    width: 600px;
    margin-top:70px

}
.main-left{
    display: flex;
    flex-direction: column;
  
    height: 481px;
    margin-top: 0px;
    position: relative;
}

.main-left-button-back{
    background-color: #b9ff66;
    color: white;
    border-radius: 14px;
    border-style: none;
    padding: 20px 25px;
    margin-top: 35px;
    transition: background-color 0.2s;
    transition: color 0.2s;
    transition: opacity 0.2s;


}

.main-left-button{

    background-color: black;
    color: white;
    border-radius: 14px;
    border-style: none;
    padding: 20px 25px;
    margin-top: 35px;
    transition: background-color 0.2s;
    transition: color 0.2s;
    transition: opacity 0.2s;
    position: absolute;
    left: 0px;
    bottom: -1px;
}




.main-left-text{
    line-height: 28px;
    font-size: 20px;
    width: 498px;
    margin-top: 35px;
}

.main-left-h1{
    width: 531px;
    height: 231px;
    font-size: 61px;
    margin-top: 0px;
    margin-bottom: 0px;
}




.main-left-button:hover{
    text-align: center;
    background-color: #1d2710;
    

}

.main-left-button:active{
    bottom: -7px;
}




















.footer{
    margin-top: 140px;
    width: 1241px;
    height: 514px;
    background-color: #292A32;
    margin-bottom: 0px;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    margin: auto;
    display: flex;
    padding-top: 55px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    transition: box-shadow 0.15s;
}


.footer-header{
    margin: 0 auto;
}


.footer-main{
    margin: 0 auto;
    width: 1120px;
   
}

.footer-main{
    margin: 0 auto;
    width: 1120px;
   
}


.footer:hover{
    box-shadow: 0 0px 15px 3px rgba(0,0,0,0.7);
}













































/* Footer */